
<center>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="https://www.railstutorial.org/contact">contact page</a>.
  <br/>
  by Steve WOO TecHouse
  <hr>
  <img src="https://assets.website-files.com/5ba45f48e783e23d362f50ef/5ba5d5299ad7875f2f1dcdde_techouse%202.png">
</p>
</center>